<div class="row center">
	<h3>These are your debts:</h3>	
</div>

<div class="row">
	<% @my_debts.each do |debt| %>
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              	<span class="card-title"><%= debt.name %></span>
              	<p>Amount: $ <%= debt.amount %></p>
		       	<p>Minimum payment: $ <%= debt.minimum_payment %></p>
		       	<p>Interest rate: <%= debt.interest_rate %> %</p>
		       	<p>Interest amount: $ <%= debt.interest_amount %></p>
		       	<p>Estimated Payoff Date: <%= debt.estimated_payoff_date %>
            </div>
            <div class="card-action">
              <a href="#">Add Payment</a>
              <%= link_to 'See Details', debt_path(debt.id) %>
            </div>
          </div>
        </div>
    <% end %>
</div>

<div class="row center">
	<%= button_to "Insert a new Debt", new_debt_path, class: 'btn', method: 'get' %>
</div>


