<div class="row center">
	<h3>You have a total of $ <%= @my_debts_sum.round(2) %> in debts.</h3>	
  <h4>You are paying a total of $ <%= @my_interests_sum.round(2) %> on interests per year.</h4>
</div>

<div class="row">
	<% @my_debts.each do |debt| %>
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= debt.name %></span>
              <p>Amount: $ <%= debt.amount %></p>
    		      <p>Minimum payment: $ <%= debt.minimum_payment %></p>
    		      <p>Interest rate: <%= debt.interest_rate %> %</p>
    		      <p>Interest amount: $ <%= debt.interest_amount.round(2) %></p>
    		      <p>Estimated Payoff Date: <%= debt.estimated_payoff_date %></p>
            </div>
            <div class="card-action">
              <%= link_to 'Add Payment', new_debt_payment_path(debt.id) %>
              <%= link_to 'See Details', debt_path(debt.id) %>
            </div>
          </div>
        </div>
    <% end %>
</div>

<div class="row center">
	<%= button_to "Insert a new Debt", new_debt_path, class: 'btn', method: 'get' %>
</div>


